.my-container {
    box-sizing: border-box;
    display: block;
    position: relative;
}

/*header */
header {
    padding: 15px 0;
}
header h1 {
    font-family: 'Modak', cursive;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
}

/* banner */
#banner {
    background-image: url('https://user-images.githubusercontent.com/52882960/67614274-95423f00-f7ec-11e9-9a74-cae5eecc203c.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}
#banner .prof-img img {
    border-radius: 50%;
}
.prof-img {
    text-align: center;
}
